<link href="~/Content/DetailsReview.css" rel="stylesheet" />


@model ReviewTravelSiteMVC.Models.Review

@{
    ViewBag.Title = "Details";
}

<div class="jumbotron"></div>

    
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="animated flipInX">

            <div class="thumbnail">

                <div class="caption">
                    <p>
                        <strong> @Html.DisplayNameFor(model => model.Category.Location)</strong>:@Html.DisplayFor(model => model.Category.Location)
                    </p>

                    <p>
                       <strong>About the Location</strong> : @Html.DisplayFor(model => model.Category.About)
                    </p>

                    <p>
                        @Html.DisplayNameFor(model => model.IsRecommended): @Html.DisplayFor(model => model.IsRecommended)
                    </p>

                    <p>
                        @*@Html.ActionLink("Edit", "Edit", new { id = Model.ReviewID }) |*@
                        @Html.ActionLink("Back to List", "Index")
                    </p>
                </div>
            </div>
        </div>
    </div>  
        </div>
