
<link href="~/Content/ReviewIndexSS.css" rel="stylesheet" />


@model IEnumerable<ReviewTravelSiteMVC.Models.Review>

@{
    ViewBag.Title = "Index";
}


<div class="jumbotron">
    <div class="col-md-12">
        <a class="btn btn-default" href=" @Url.Action("Create","Reviews")">Write Review </a>
    </div>
</div>

<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-sm-6 col-md-12">
            <div class="animated flipInX">

                <div class="thumbnail">

                    <div class="caption">
                        @*<p>
            <strong> @Html.DisplayNameFor(model => model.Category.Location)</strong>: @Html.DisplayFor(modelItem => item.Category.Location)
        </p>*@
                        <p>
                            @*@Html.DisplayNameFor(model => model.ReviewerName):*@ <strong>@Html.DisplayFor(modelItem => item.ReviewerName)</strong>
                        </p>
                        <p>
                            <strong> Wrote Review on</strong>:<a href="@Url.Action("Details","Reviews", new { id = item.ReviewID })"> @Html.DisplayFor(modelItem => item.ReviewTitle)</a>
                        </p>
                        <p>
                            <strong>Category</strong>:@Html.DisplayFor(modelItem => item.Category.Location)
                        </p>

                        <p>
                             @Html.DisplayFor(modelItem => item.ReviewContent)
                        </p>
                        <p>
                            <strong> @Html.DisplayNameFor(model => model.IsRecommended)</strong>: @Html.DisplayFor(modelItem => item.IsRecommended)
                        </p>
                        <p>
                            <strong> @Html.DisplayNameFor(model => model.ReviewDate)</strong>: @Html.DisplayFor(modelItem => item.ReviewDate)
                        </p>
                        <p>
                            <a class="btn btn-default" href=" @Url.Action("Edit", "Reviews", new { id = item.ReviewID })">
                                <img src="~/Content/Images/icons8-edit-file-20.png" />
                            </a>
                            <a class="btn btn-default" href=" @Url.Action("Details", "Reviews", new { id = item.ReviewID })">

                                <img src="~/Content/Images/icons8-search-20.png" />
                            </a>
                            <a class="btn btn-default" href=" @Url.Action("Delete", "Reviews", new { id = item.ReviewID })">

                                <img src="~/Content/Images/icons8-cancel-20.png" />
                            </a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
       

        }

    </div>




